<%= link_to 'Товары', products_path %> |
<p id="notice"><%= notice %></p>
<div class="product">


<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<div class="list_image">

  <%= image_tag(@product.image_url) %>
</div>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>






<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
